
footer(class="main_footer")
    nav(class="footer_nav")
        ul(class="footer_items")
            li(class="footer_item")
                a(href="#") Support
            li(class="footer_item")
                a(href="#") Terms of User

//-  footer(class="main_footer")
//-         nav(class="footer_nav")
//-             ul(class="footer_items")
//-                 li(class="footer_item")
//-                     a(href="#") Support
//-                 li(class="footer_item")
//-                     a(href="#") Terms of User