
header(class="main-header")
    div
        a(href="/" class="main-header__brand")
            img(src="/images/uhost-icon.png" alt="uHost")
    nav(class="main-nav")
        ul(class="main-nav_items")
            li(class="main-nav__item")
                a(href="/packages") Packages
            li(class="main-nav__item")
                a(href="/customers") Customers
            li(class="main-nav__item main-nav__item--cta")
                a(href="/start-hosting") Start Hosting