extends layout.pug

block extraHeader
    link(rel="stylesheet" href="/css/packages.css")

block content
    .background
    main(class="main_plan")
        section(class="plan" id="plus_plan")
            a(href="#")
                h1(class="plan_h1") Our PLUS Plan
                h2(class="plan_badge") RECCOMENDED
                h2(class="plan_h2") The most popular choice of our customers.
                p(class="plan_p") Benefit from increased storage and faster support to ensure that your mission are always available!

        section(class="plan" id="free_plan")
            a(href="#")
                h1(class="plan_h1") Our Free Plan
                h2(class="plan_h2") An extremly solid start into our hosting world.
                p(class="plan_p") Get started immediatly at zero cost!

        section(class="plan" id="premium_plan")
            a(href="#")
                h1(class="plan_h1 premium") Our Premium Plan
                h2(class="plan_h2 premium") All your enterprise needs. Instant support ,guaranted uptime.
                p(class="plan_p") The best solution for small to large enterprises.Because hosting shouldn't be hard    